<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKUP</key>
	<string>XXX_Release XXX_Local XXX_Test</string>
	<key>schemes</key>
	<string>XXX_Release XXX_Local XXX_Test</string>
	<key>XXX_Release_export_info</key>
	<string>XXX_Release.plist</string>
	<key>XXX_Release_export_mode</key>
	<string>Release</string>
	<key>XXX_Release_update_app_store_username</key>
	<string></string>
	<key>XXX_Release_update_app_store_password</key>
	<string></string>
	<key>XXX_Local_export_info</key>
	<string>XXX_Local.plist</string>
	<key>XXX_Local_export_mode</key>
	<string>Debug</string>
	<key>XXX_Local_update_pgyer_u_key</key>
	<string></string>
	<key>XXX_Local_update_pgyer_api_key</key>
	<string></string>
	<key>XXX_Test_export_info</key>
	<string>XXX_Test.plist</string>
	<key>XXX_Test_export_mode</key>
	<string>Debug</string>
	<key>XXX_Test_update_fir_token</key>
	<string></string>
</dict>
</plist>
