<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BACKUP</key>
	<string>YOUHUO YOUHUO_LOCAL YOUHUO_TEST</string>
	<key>schemes</key>
	<string>YOUHUO_LOCAL</string>
	<key>YOUHUO_export_info</key>
	<string>Release.plist</string>
	<key>YOUHUO_export_mode</key>
	<string>Release</string>
	<key>YOUHUO_update_app_store_username</key>
	<string>2880683182@qq.com</string>
	<key>YOUHUO_update_app_store_password</key>
	<string>tr06jg1A</string>
	<key>YOUHUO_LOCAL_export_info</key>
	<string>Local.plist</string>
	<key>YOUHUO_LOCAL_export_mode</key>
	<string>Debug</string>
	<key>YOUHUO_LOCAL_update_pgyer_u_key</key>
	<string>aa96f770a168a41891a5eb3401631b75</string>
	<key>YOUHUO_LOCAL_update_pgyer_api_key</key>
	<string>9b4ebee4e731ffa965d3d17c90f081a4</string>
	<key>YOUHUO_TEST_export_info</key>
	<string>Test.plist</string>
	<key>YOUHUO_TEST_export_mode</key>
	<string>Debug</string>
	<key>YOUHUO_TEST_update_fir_token</key>
	<string>0653c5cb35b0c840fae99579bd025a5b</string>
</dict>
</plist>
